<div
  class="grid gap-4"
  style="grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr))">
  <ng-container *ngIf="todos$ | async as todos">
    <ng-container *ngIf="todos.length; else emptyTmpl">
      <ng-container *ngFor="let todo of todos">
        <app-todo [todo]="todo"></app-todo>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyTmpl>
  <div class="grid place-items-center mt-20">
    <h2 class="text-xl font-semibold">Empty!</h2>
    <p class="text-orange-500 mt-4">You don't have any to-do yet.</p>
    <a
      class="flex items-center gap-1 w-fit mt-8 mx-auto text-white font-medium rounded-full text-sm px-6 py-3 text-center bg-zinc-900 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:bg-zinc-600 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800 transition-colors"
      routerLink="add">
      <tabler-icon name="plus" class="!w-5 !h-5"></tabler-icon>
      <span>Add</span></a
    >
  </div>
</ng-template>
