<div
  class="grid gap-4"
  style="grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr))">
  <ng-container *ngIf="todos$ | async as todos">
    <ng-container *ngIf="todos.length; else emptyTmpl">
      <ng-container *ngFor="let todo of todos">
        <app-todo [todo]="todo"></app-todo>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyTmpl>
  <div class="grid place-items-center mt-20">
    <h2 class="text-xl font-semibold">No Todos</h2>
    <p class="text-zinc-500">You don't have any todos yet.</p>
    <a
      class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-6 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      routerLink="add"
      >Add</a
    >
  </div>
</ng-template>
