<div class="py-8 dark:bg-zinc-900/40 bg-white/40 backdrop-blur-sm px-1 sm:px-0">
  <header
    class="flex items-center justify-between max-w-screen-xl mx-auto px-4 sm:px-8">
    <div class="flex gap-4 items-center flex-nowrap">
      <a routerLink="" class="text-3xl font-brand">To-do List</a>
      <app-add-todo-button class="hidden sm:block"></app-add-todo-button>
    </div>
    <div class="flex gap-2 sm:gap-4 items-center flex-nowrap">
      <a
        class="flex flex-nowrap items-center gap-2 px-4 py-2 rounded-full bg-zinc-200 hover:bg-zinc-100 dark:bg-zinc-800 dark:hover:text-zinc-200 hover:text-zinc-800 transition-colors"
        href="https://github.com/DevJaGz/inditex-todos-app"
        target="_blank"
        rel="noopener noreferrer">
        <tabler-icon name="brand-github" class="w-5 h-5"></tabler-icon>
        <span>See Repo</span>
      </a>
      <app-theme-button></app-theme-button>
    </div>
  </header>
</div>
