<button
  (click)="toggleTheme()"
  *ngIf="isDarkTheme$ | async; else darkButtonTmpl"
  type="button"
  title="Set Light theme"
  class="hover:bg-zinc-200 bg-zinc-100 text-black p-1 rounded-full grid place-items-center font-semibold transition-colors">
  <tabler-icon name="brightness-up" class="w-5 h-5 stroke-2"></tabler-icon>
</button>
<ng-template #darkButtonTmpl>
  <button
    (click)="toggleTheme()"
    type="button"
    title="Set Dark theme"
    class="hover:bg-zinc-800 bg-zinc-900 text-white p-1 rounded-full grid place-items-center font-semibold transition-colors">
    <tabler-icon name="moon-stars" class="w-5 h-5 stroke-2"></tabler-icon>
  </button>
</ng-template>
