<ng-container *ngIf="showBackButton$ | async; else addButtonTmpl">
  <a
    routerLink=""
    title="Back to To-do List"
    class="grid place-items-center flex-nowrap bg-zinc-900 hover:bg-zinc-800 text-white dark:bg-zinc-200 dark:hover:bg-zinc-300 dark:text-black w-10 h-10 sm:w-8 sm:h-8 rounded-full transition-colors">
    <tabler-icon name="arrow-back-up" class="w-5 h-5"></tabler-icon>
  </a>
</ng-container>

<ng-template #addButtonTmpl>
  <a
    routerLink="add"
    title="Add To-do"
    class="grid place-items-center flex-nowrap bg-zinc-900 hover:bg-zinc-800 text-white dark:bg-zinc-200 dark:hover:bg-zinc-300 dark:text-black w-10 h-10 sm:w-8 sm:h-8 rounded-full transition-colors">
    <tabler-icon name="plus" class="w-5 h-5"></tabler-icon></a
></ng-template>
